# ========================
# Build outputs
# ========================
bin/
obj/

# ========================
# Visual Studio
# ========================
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

# ========================
# .NET
# ========================
*.dll
*.exe
*.pdb
*.cache

# ========================
# Logs
# ========================
*.log

# ========================
# Node / Angular
# ========================
node_modules/
dist/
.angular/

# ========================
# Packages
# ========================
*.nupkg
packages/

# ========================
# Config sensibles
# ========================
appsettings.Development.json
secrets.json

# ========================
# Base de datos local
# ========================
*.db
*.sqlite

# ========================
# OS
# ========================
.DS_Store
Thumbs.db